<a href="https://colab.research.google.com/github/victornietol/cyp_2021/blob/main/26_enero_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas de Python 3
1. Es una estructura de datos lineal de 0 o n elementos.
1. "Equivalente" a los arreglos.
1. Pueden ser de diferente tipo de dato. [1,2,32,12] , [1, True, 2.34, "Hola"] 
1. Pueden ser anidados, es decir, listas de listas. ["Melón", "manzana roja", "manzana amarilla", ]
1. Su selector es de la forma: [ int ]
1. Son mutables.

In [3]:
# Ejemplos
NUMEROS = [4,2,45,7,83.3]
print(NUMEROS)
print(NUMEROS[2])

# Una lista de o elementos
COLORES = [] #list()
type(COLORES) # Averiguar de que tipo de dato es una variable con la función type
DIAS = list()
print(COLORES)
print(DIAS)

[4, 2, 45, 7, 83.3]
45
[]
[]

In [10]:
# Pueden ser de diferente tipo de datos

MI_LISTA = [1,2,3,"José",False,1.76,[552345653,44553412432,556677888]]
print(MI_LISTA)
print(MI_LISTA[5])
print(MI_LISTA[6][1])
print(MI_LISTA[3][3])
print(MI_LISTA[3][3::])   # Con rebanado
print(MI_LISTA[3][-1::1]) # Con rebado con índexado negativo
MI_LISTA2 = [1,2,3,"José",False,1.76,["552345653","44553412432","556677888"]]
print(str(MI_LISTA[6][1])[2])  #Obtener un numero de una de las listas de la lista

[1, 2, 3, 'José', False, 1.76, [552345653, 44553412432, 556677888]]
1.76
44553412432
é
é
é
5

In [13]:
FRUTAS = ["melon","sandia","kiwi","aguacate","mango","platano"]
print(FRUTAS)
FRUTAS[0] = "Melón"
print(FRUTAS)
#FRUTAS[1][0] = "S"
FRUTAS[1] = FRUTAS[1].capitalize()  # Asignar mayúscula con .capitalize
print(FRUTAS)

['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano']
['Melón', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano']
['Melón', 'Sandia', 'kiwi', 'aguacate', 'mango', 'platano']

In [29]:
# Las listas son clases, por lo tanto, tienen métodos.
# Ejemplo: Append, agrega un elemento al final
FRUTAS = ["melon","sandia","kiwi","aguacate","mango","platano"]
FRUTAS.append("Fresa")
print(FRUTAS)

print("\nEjemplo de copias")
OTRAS_FRUTAS = FRUTAS.copy()   # Se utiliza .copy() para hacer una copia en memoria
print(FRUTAS)
print(OTRAS_FRUTAS)
OTRAS_FRUTAS[0] = "Chico zapote"
print(OTRAS_FRUTAS)
print(FRUTAS)
print("------------")

print("\nEjemplo de extend")  # Agregar mas de un valor a una lista  con .extend()

COLORES = ["rojo", "verde", "azul"]
FRUTAS.extend(COLORES)
print(FRUTAS)

print("\nEjemplo insert")  # Agregar un elemento a una lista en una posición determinada con .insert()
FRUTAS.insert(3,"Limón")
print(FRUTAS)

print("\nEjemplo remove, eliminar el kiwi") # Eliminar un valor especifico con .remove()
FRUTAS.remove("kiwi")
print(FRUTAS)

print("\nEjemplo con operador del")  # Eliminar un valor con su posición utilizando "del"
del FRUTAS[2] # Operador listas
print(FRUTAS)

FRUTAS.clear()
print(FRUTAS)

['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']

Ejemplo de copias
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
['Chico zapote', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
------------

Ejemplo de extend
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']

Ejemplo insert
['melon', 'sandia', 'kiwi', 'Limón', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']

Ejemplo remove, eliminar el kiwi
['melon', 'sandia', 'Limón', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']

Ejemplo con operador del
['melon', 'sandia', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']
[]

In [38]:
cosas = ["jose",True,2,3,4,5,"pedro",1.23]
indice = 0
a_eliminar = []
for elemento in cosas:
  if isinstance(elemento,int):
    print("Entero", elemento) # cosas.remove(elemento)
    a_eliminar.append(elemento)
  indice += 1

print(a_eliminar)
for indice in a_eliminar:
  print(indice)
  cosas.remove(indice)
print(cosas)

Entero True
Entero 2
Entero 3
Entero 4
Entero 5
[True, 2, 3, 4, 5]
True
2
3
4
5
['jose', 'pedro', 1.23]

In [15]:
dir(FRUTAS)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [55]:
# Slicing sobre listas

FRUTAS = ["melon","sandia","kiwi","aguacate","mango","platano"]

print(FRUTAS[1:4:])

SISTEMAS_OPERATIVOS = ["Windows","Mac OS","Linux","Android"]
AUTOS = ["Ford","Mazda","Honda"]

COSAS = [SISTEMAS_OPERATIVOS , AUTOS]
print(COSAS)
print(COSAS[1]) # Solo elementos de la lista AUTOS
print(COSAS[0][2])  # Un elemento de la lista SISTEMAS_OPERATIVOS
print(COSAS[0][3][2:5:1])  # Un elemento en especifico de la primera lista
print(COSAS[1][1][-2:-5:-1])  # Elementos en especifico de la segunda lista

['sandia', 'kiwi', 'aguacate']
[['Windows', 'Mac OS', 'Linux', 'Android'], ['Ford', 'Mazda', 'Honda']]
['Ford', 'Mazda', 'Honda']
Linux
dro
dza