<a href="https://colab.research.google.com/github/victornietol/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ejercicio 3.1   (Sin usar estructura repetitiva)

SUE1 = float(input("Ingrese el sueldo del trabajador 1: "))
SUE2 = float(input("Ingrese el sueldo del trabajador 2: "))
SUE3 = float(input("Ingrese el sueldo del trabajador 3: "))
SUE4 = float(input("Ingrese el sueldo del trabajador 4: "))
SUE5 = float(input("Ingrese el sueldo del trabajador 5: "))
SUE6 = float(input("Ingrese el sueldo del trabajador 6: "))
SUE7 = float(input("Ingrese el sueldo del trabajador 7: "))
SUE8 = float(input("Ingrese el sueldo del trabajador 8: "))
SUE9 = float(input("Ingrese el sueldo del trabajador 9: "))
SUE10 = float(input("Ingrese el sueldo del trabajador 10: "))

NOM = SUE1 + SUE2 + SUE3 + SUE4 + SUE5 + SUE6 + SUE7 + SUE8 + SUE9 + SUE10

print(f"\nLa nómina de la empresa es igual a ${NOM}")

Ingrese el sueldo del trabajador 1: 500
Ingrese el sueldo del trabajador 2: 200
Ingrese el sueldo del trabajador 3: 800
Ingrese el sueldo del trabajador 4: 550
Ingrese el sueldo del trabajador 5: 200
Ingrese el sueldo del trabajador 6: 100
Ingrese el sueldo del trabajador 7: 860
Ingrese el sueldo del trabajador 8: 450
Ingrese el sueldo del trabajador 9: 503
Ingrese el sueldo del trabajador 10: 107

La nomina de la empresa es igual a $4270.0

In [ ]:
#Ejercicio 3.1  (Usando estructura repetitiva)

SUE = 0.0
NOM = 0.0

for i in range (10):
  i = i + 1
  SUE = float(input(f"Ingrese el sueldo del trabajador {i}: $"))
  NOM = NOM + SUE 

print(f"\nLa nómina de la empresa es ${NOM}")

Ingrese el sueldo del trabajador 1: $1500
Ingrese el sueldo del trabajador 2: $890
Ingrese el sueldo del trabajador 3: $700
Ingrese el sueldo del trabajador 4: $950
Ingrese el sueldo del trabajador 5: $2300
Ingrese el sueldo del trabajador 6: $1650
Ingrese el sueldo del trabajador 7: $1800
Ingrese el sueldo del trabajador 8: $1400
Ingrese el sueldo del trabajador 9: $760
Ingrese el sueldo del trabajador 10: $900

La nómina de la empresa es $12850.0

In [ ]:
#Ejercicio 3.4 

GASTO = 0.0
SUMGAS = 0.0

GASTO = float(input("Ingrese el valor del gasto: $"))

while GASTO > -1:
  SUMGAS = SUMGAS + GASTO
  GASTO = float(input("Ingrese el valor del gasto: $"))

print(f"\nEl gasto total es de: ${SUMGAS}")

Ingrese el valor del gasto: $2528
Ingrese el valor del gasto: $3500
Ingrese el valor del gasto: $1600
Ingrese el valor del gasto: $1850
Ingrese el valor del gasto: $150
Ingrese el valor del gasto: $-1

El gasto total es de: $9628.0